.anydesk/
.cache/
.CFUserTextEncoding
.DS_Store
.local/
.python_history
.ssh/
.Trash/
.viminfo
.vscode/
.zsh_history
Applications/
Desktop/
Dev/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
.config/nvim/plugged/
